<%- @page_title = "Dashboard" %>

<div id="dashboard_menu">
</div> <!-- end dashboard_menu -->

<div id="dashboard_body">

<table class="network_summary">
  <caption>Client Summary</caption>
  <tbody>
    <tr>
    <tr><td>Number of clients:</td> <td><%= @total_count    == 0 ? @total_count    : link_to(@total_count, clients_path) %></td></tr>
    <tr><td>Healthy:</td>           <td><%= @healthy_count  == 0 ? @healthy_count  : link_to(@healthy_count,  clients_path + "?health=healthy") %></td></tr>
    <tr><td>Broken:</td>            <td><%= @broken_count   == 0 ? @broken_count   : link_to(@broken_count,   clients_path + "?health=broken") %></td></tr>
    <tr><td>Disabled:</td>          <td><%= @disabled_count == 0 ? @disabled_count : link_to(@disabled_count, clients_path + "?health=disabled") %></td></tr>
    <tr><td>Stale:</td>             <td><%= @stale_count    == 0 ? @stale_count    : link_to(@stale_count,    clients_path + "?health=stale") %></td></tr>
    </tr>
  </tbody>
</table>

<!-- <div id="status_chart" data-url="<%= @status_data_url %>">
</div> -->
<div id="client_chart" data-url="<%= @client_data_url %>">
</div>

</div> <!-- end dashboard_body -->

