<%- @page_title = "Client: #{@client.name}" %>

<div class="record_view">

<h1>Client: <%= @client.name %></h1>

<p>
  <strong>Name:</strong>   <%= @client.name %><br />
  <strong>Status:</strong> <%= @client.status %><br />
</p>

<p>
  <%- hours = 0 -%>
  <%- if @timeline -%>
    <strong>Timeline View</strong>
    <%- if @timeline == -1 -%>
      <%- # If the user requested everything then set our limit to the oldest entry -%>
      <%- oldest = Result.where('client_id = ?', @client.id).order('results.created_at').first -%>
      <%- if oldest.nil? -%>
        <p style="font-style:italic">No results found for this client.</p>
        <%- hours = -1 -%>
      <%- else -%>
        <%- hours = ((Time.now - oldest.created_at) / 60 / 60).to_i + 1 -%>
      <%- end -%>
    <%- else -%>
      <%- hours = @timeline -%>
    <%- end -%>
    
  <table cellspacing="0" class="styled">
    <thead>
      <tr>
        <th nowrap="nowrap" width="5%">&nbsp;</th>
        <th>Time</th>
        <th>Hours Ago</th>
        <th># of Results</th>
        <th>Total Message Size</th>
      </tr>
    </thead>
    <tbody>
    <%- (0..hours).each do |hour| -%>
      <%- results = Result.where("client_id = ? AND created_at > ? AND created_at <= ?", @client.id, (hour+1).hours.ago, hour.hours.ago) -%>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td nowrap="nowrap" width="5%"><%= link_to 'View', results_path + "?q[client_name_eq]=#{@client.name}&q[created_at_gt]=#{(hour+1).hours.ago}&q[created_at_lteq]=#{hour.hours.ago}" %></td>
        <td><%= hour.hours.ago %></td>
        <td><%= hour %></td>
        <td><%= results.length %></td>
        <td><%= results.inject(0) { |sum, result| sum += result.message.length } %></td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
  <%- else -%>
    <%= link_to 'View all results', "#{results_path}?q[client_name_eq]=#{@client.name}" %> for this client<br/>
    Timeline for the last <%= link_to '24 hrs', "#{client_path(@client)}?timeline=24" %>,
                          <%= link_to '7 days', "#{client_path(@client)}?timeline=168" %>,
                          <%= link_to 'all',    "#{client_path(@client)}?timeline=-1" %>
  <%- end -%>
</p>

<p>
  <strong>Message:</strong><br />
  <pre><%= @client.message %></pre>
</p>

<p class="metadata">
  <strong>Created at:</strong> <%= @client.created_at %><br />
  <strong>Updated at:</strong> <%= @client.updated_at %><br />
  <%= link_to 'Delete', client_path(@client), :confirm => 'Are you sure?', :method => :delete %></p>
</p>

</div> 

