<%- @page_title = "Original" %>

<div class="record_view">

<h1>Original</h1>

<p>
  <strong>Client:</strong>   <%= link_to(@original.client.name, client_path(@original.client)) %><br />
  <strong>File:</strong>     <%= @original.file %><br />
  <strong>Checksum:</strong> <%= @original.sum %><br />
</p>

<p class="metadata">
  <strong>Created at:</strong> <%= @original.created_at %><br />
  <strong>Updated at:</strong> <%= @original.updated_at %><br />
  <%= link_to 'Delete', original_path(@original), :data => {:confirm => 'Are you sure?'}, :method => :delete %></p>
</p>

</div>

