<%- @page_title = 'Results' -%>

<%- if @results.length > 0 -%>
<h1>Results</h1>

<%- if @combined -%>
  <%- @results.each do |result| -%>
<p>
  <strong>Client:</strong>  <%= link_to(result.client.name, client_path(result.client)) %><br />
  <strong>File:</strong>    <%= result.file %><br />
  <strong>Success:</strong> <%= result.success %><br />
</p>

<p class="metadata">
  <strong>Time:</strong> <%= result.created_at %><br />
</p>

<p>
  <strong>Message:</strong><br />
  <pre><%= result.message %></pre>
</p>
  <%- end -%>
<%- else -%>
<div id="results_table">
  <%= link_to('View all these combined', results_path + "?#{@query_string}&combined=1") %><br/>
  <%= will_paginate @results %>
  
  <table cellspacing="0" class="styled">
    <thead>
      <tr>
        <th nowrap="nowrap" width="5%">&nbsp;</th>
        <th><%= sort_link @q, :client_name, 'Client' %></th>
        <th><%= sort_link @q, :file %></th>
        <th><%= sort_link @q, :created_at, 'Time' %></th>
        <th><%= sort_link @q, :success %></th>
        <th><%= sort_link @q, :message_size %></th>
      </tr>
    </thead>
    <tbody>
      <%- @results.each do |result| -%>
      <tr class="<%= cycle('odd', 'even') -%>">
        <td nowrap="nowrap" width="5%"><%= link_to 'View', result_path(result) %></td>
        <td><%= result.client.name %></td>
        <td><%= result.file %></td>
        <td><%= result.created_at %></td>
        <td><%= result.success %></td>
        <td><%= result.message.length %></td>
      </tr>
      <%- end -%>
    </tbody>
  </table>
</div> <!-- end results_table div -->
<%- end -%>

<%- else -%>
<em>We could not find any results in the system for that search.</em>
<%- end -%>
