<!DOCTYPE html>
<html>
<head>
  <title>Etch: <%= @page_title %></title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'design' %>
  <%= stylesheet_link_tag 'forms' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">

<div id="header">

<p id="account_links">
<%- if session && session[:account_id] -%>
Welcome back, <%= link_to logged_in_account.name, account_path(logged_in_account) %>! 
 | <%= link_to "Help", "http://etch.sourceforge.net/" %> 
 | <%= link_to "Logout", :controller => 'login', :action => 'logout' %>
<%- else -%>
<%= link_to "Login", :controller => 'login', :action => 'login' %>
<%- end -%>
</p>

<h1 id="branding"><%= link_to "Etch", { :controller => 'dashboard' } %></h1>

<hr />
</div> <!-- end header -->

<div id="content">

<% if flash[:notice] -%> 
<div id="notice"><%= flash[:notice] %></div> 
<% end -%>

<% if flash[:error] -%> 
<div id="error"><%= flash[:error] %></div> 
<% end -%>

<%- # Calling yield here triggers the insertion of the specific view -%>
<%= yield %>

<hr />
</div> <!-- end content -->

<div id="sidepanel">

<p><%= link_to "Dashboard", { :controller => 'dashboard' } %></p>

<ul>
  <li><%= link_to "Clients", clients_url %></li>
  <li><%= link_to "Results", results_url %></li>
</ul>
<hr />
</div> <!-- end sidepanel -->

<% if false -%>
<div id="footer">
<p>Some cool footer here.</p>
</div> <!-- end footer -->
<% end -%>

</div> <!-- end container -->
</body>
</html>
