<%- @page_title = 'Configs' -%>

<h1>Configs</h1>

<div id="results_table">
<%= will_paginate @etch_configs %>
<table cellspacing="0" class="styled">
  <thead>
    <tr>
      <th nowrap="nowrap" width="5%">&nbsp;</th>
      <th><%= order @search, :by => :client %></th>
      <th><%= order @search, :by => :file %></th>
      <th><%= order @search, :by => :updated_at %></th>
    </tr>
  </thead>
  <tbody>
    <%- @etch_configs.each do |etch_config| -%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td nowrap="nowrap" width="5%"><%= link_to 'View', etch_config_path(etch_config) %></td>
      <td><%= etch_config.client.name %></td>
      <td><%= etch_config.file %></td>
      <td><%= etch_config.updated_at %></td>
    </tr>
    <%- end -%>
  </tbody>
</table>
</div> <!-- end results_table div -->

